<!DOCTYPE html>
<html lang="en">
<head>
    <title><%-pageTitle%></title>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta name="description" content="Shinobi - Boilerplate">
    <meta name="author" content="Moe Alam, moeiscool on GitHub">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="libs/img/icon/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="libs/img/icon/favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Shinobi">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="libs/img/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="libs/img/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="libs/img/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="libs/img/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="libs/img/icon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="libs/img/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="libs/img/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="libs/img/icon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="libs/img/icon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="libs/img/icon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="libs/img/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="libs/img/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="libs/img/icon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Shinobi"/>
    <meta name="msapplication-TileColor" content="#333333" />
    <meta name="msapplication-TileImage" content="libs/img/icon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="libs/img/icon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="libs/img/icon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="libs/img/icon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="libs/img/icon/mstile-310x310.png" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="libs/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/Montserrat/Montserrat.css">
    <!--  Grid Stack  -->
    <link rel="stylesheet" href="libs/css/gridstack.min.css">
    <!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
    <!--  Custom Styles  -->
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<script>$user = <%- JSON.stringify($user) %></script>